{% extends "layouts/base.html" %}

{% block title %}Pagina Inicio{% endblock %}

{% block content %}
<body>
  <section class="container mt-4 text-center">
      <h1>Bienvenido a la Práctica con Django</h1>
      <p>Esta es una página de inicio para la práctica de Django. Explora las diferentes secciones usando el menú.</p>
      <img src="https://i.pinimg.com/originals/21/11/61/21116158daaeb1459b4ec0758505e1ad.gif" alt="GIF de bienvenida" class="img-fluid rounded mt-3">
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock %}